<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlickUnlike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PickCrush2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>iCurate Clean.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iCurate CleanTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>iCurate Crush.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iCurate Favorite.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1238F00D1A57545A00673C2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1238F0251A57545A00673C2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE2EAA1A4DEBFB0073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE2EB51A4DEBFB0073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE2FFC1A4E72520073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE30141A4E72530073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE30381A4E78A50073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE30501A4E78A50073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE30B31A4E812B0073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE30CB1A4E812B0073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE30F01A4E82220073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE31081A4E82230073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE328B1A5232660073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE32A31A5232660073154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
